<h1 style="color: rgb(176,43,44)" align="center"><strong>Menu</strong></h1>
<br>

<img class="d-block img-fluid rounded" src="https://www.showshappening.com/blog/content/images/2016/08/asian-dining.jpg" alt="Asian Food">
<br>

<div class="row">
  <div class="col-sm-4">
    <div class="btn-group">
      <% @sections.each do |section| %>
        <%= link_to section.name, menu_path(section_id: section.id), class: "btn #{params[:section_id] == section.id.to_s ? 'btn-primary' : 'btn-secondary'}" %>
      <% end %>

    </div>
  </div>

  <div class="col-sm-5">
    <%= form_tag nil, method: 'get' do %>
      <%= hidden_field_tag :section_id, params[:section_id] %>

      <div class="form-inline">
        <%= select_tag :sort_column, options_for_select(
            [['Name', 'name'],
             ['Price', 'price']]
        ), class: 'form-control' %>

        <%= select_tag :sort_direction, options_for_select(
            [['Ascending', 'asc'],
             ['Descending', 'desc']]
        ), class: 'form-control' %>

        <%= select_tag :sort_cuisine, options_for_select(
            [['Vietnamese', 'Vietnamese Food'],
             ['Chinese', 'Chinese Food']]
        ), class: 'form-control' %>

        <%= submit_tag "Sort" , class: 'btn btn-success'%>
      </div>

    <% end %>
  </div>

</div>

<br>

<% if @current_section || params[:search] %>
  <div class="row">
    <% @food_items.each do |item| %>
      <% if (item.cuisine == params[:sort_cuisine]) || (@is_sorting == 0) %>

        <div class="col-sm-3" style="max-height: 80rem;">
          <img class="card-img-top img-fluid rounded" style="max-height: 40rem;" src= <%= item.image_url_or_default %> alt="Food image">

          <div class="card-block">
            <h4 class="card-title" ><%= link_to "#{item.name}", "food_items/#{item.id}" %></h4>
            <p class="card-text limittext" style="height: 3rem;"><%= item.description %></p>
            <h3 class="card-title" style="color: rgb(176,43,44);"><%=  number_to_currency(item.price, locale: :vn) %> </h3>
            <p><%= link_to "Add to order", new_food_item_order_path(food_item_id: item.id), class: "btn btn-primary" %></p>
          </div>

        </div>

      <% end %>
    <% end %>
  </div>

<% else %>
  <div class="alert alert-info">Please select a section</div>
<% end %>

<% if @nothing_matched %>
  <div class="alert alert-warning">Sorry, but nothing matched your search criteria. Please try again with different keywords</div>
<% end %>