<p id="notice"><%= notice %></p>

<h1 style="color: rgb(176,43,44)"><strong>Thank you for your order</strong></h1>
<br>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Food Name</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.food_item.name %></td>
      <td><%= @order.name %></td>
      <td><%= @order.phone %></td>
      <td><%= @order.address %></td>
      <td><%= @order.quantity %></td>
    </tr>
  </tbody>
</table>