<%= form_for(food_item) do |f| %>
  <% if food_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food_item.errors.count, "error") %> prohibited this food_item from being saved:</h2>

      <ul>
      <% food_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :name %></strong>
    <%= f.text_field :name, class: 'form-control'%>
  </div><br>

  <div class="field">
    <strong><%= f.label :description %></strong>
    <%= f.text_area :description, class: 'form-control' %>
  </div><br>

  <div class="field">
    <strong><%= f.label :price %></strong>
    <%= f.text_field :price, class: 'form-control' %>
  </div><br>

  <div class="form-group">
    <strong><%= f.label :section_id %></strong>
    <%= f.select :section_id, Section.all.map{|a| [a.name, a.id]}, {}, class: 'form-control' %>
  </div><br>

  <div class="field">
    <strong><%= f.label :cuisine %></strong>
    <%= f.text_field :cuisine, class: 'form-control' %>
  </div><br>

  <div class="field">
    <strong><%= f.label :image_url %></strong>
    <%= f.text_field :image_url, class: 'form-control' %>
  </div><br>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
<br>
