<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: rgb(176,43,44)">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>">Home</a>
    <a class="navbar-brand" href="<%= menu_path %>"> Menu </a>
    <a class="navbar-brand" href="<%= about_us_path %>"> About us </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>


      <% if @search_bar.present? %>
        <form class="form-inline float-xs-right">
            <%= form_tag(menu_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Dishes", class: 'form-control' %>
            <%= submit_tag "Search", class: 'btn btn-outline-success' %>
            <% end %>
        </form>
      <% end %>

    </div>

  </nav>
</div>
<br>